@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%); 
    --Grayish-Blue: hsl(246, 25%, 77%);

}
body{
    background: var(--Red) url(../images/bg-intro-mobile.png);
    animation: animate 500s linear infinite;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}
@keyframes animate{
    0% {
        background-position: 0 0;
      }
      100% {
        background-position: 0 -10000px ;
      }
    }







// .attribution { font-size: 11px; text-align: center; }
// .attribution a { color: hsl(228, 45%, 44%); }